@use 'flex';

.container {
	display: flex;
	width: 80%;
	margin: 0 auto;
}

img {
	flex: 0 1 auto;
	width: 125px;
	height: 125px;
}

header {
	background: #55d6aa;
}

nav ul {
	flex: 0 1 auto;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-flex;
	margin-left: 1vw;
	padding-top: 10px;
	position: relative;
}

nav a {
	color: #444;
	text-decoration: underline;
	text-transform: uppercase;
	text-underline-position: below;
	font-size: 14px;
}

nav a:hover {
	color: #000;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #444;
	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease 250ms;
}

nav a:hover::before {
	width: 100%;
}
