<div class="d-grid">
	<div class="header">
		<mat-toolbar>
			<button mat-icon-button aria-label="menu">
				<mat-icon>menu</mat-icon>
			</button>
			<span>🦖 Solid Octo Coucous</span>
			<span class="spacer"></span>
			<mat-slide-toggle [labelPosition]="'before'" [color]="color" (toggleChange)="toggleChanged()">
				{{ toggleName }}
			</mat-slide-toggle>
			<button mat-icon-button class="favorite-icon" aria-label="bookmark rex">
				<mat-icon>favorite</mat-icon>
			</button>
			<button mat-icon-button aria-label="share on social media">
				<mat-icon>share</mat-icon>
			</button>
		</mat-toolbar>
	</div>
	<div class="login-section">
		<solid-octo-couscous-credentials *ngIf="isLogin" [isLogin]="isLogin" class="d-absolute" @login>
		</solid-octo-couscous-credentials>
		<solid-octo-couscous-credentials *ngIf="isLogin === false" [isLogin]="isLogin" class="d-absolute" @create>
		</solid-octo-couscous-credentials>
	</div>
	<div></div>
</div>
