@use '@angular/material' as mat;
@use './colors' as colors;
@use './angular-material-typography' as typography;

// derived from: https://material.io/resources/color/#!/?view.left=1&view.right=0&primary.color=002070&secondary.color=37464f.
/* only needs to be included once. */
@include mat.core(typography.$solid-octo-couscous-typography);
@include mat.strong-focus-indicators();
/* ------------------------------- begin: material theme setup. ---------------------------------------- */
$solid-octo-couscous-primary: mat.define-palette(colors.$mat-dark-indigo-blue, 300);
$solid-octo-couscous-accent: mat.define-palette(colors.$mat-dark-mustard-secondary, A700, A700, A700);
$solid-octo-couscous-warn: mat.define-palette(colors.$mat-dark-triadic-error);
$solid-octo-couscous-dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $solid-octo-couscous-primary,
			accent: $solid-octo-couscous-accent,
			warn: $solid-octo-couscous-warn,
		),
	)
);

@include mat.core-theme($solid-octo-couscous-dark-theme);

@include mat.button-theme($solid-octo-couscous-dark-theme);
@include mat.badge-theme($solid-octo-couscous-dark-theme);
@include mat.card-theme($solid-octo-couscous-dark-theme);
@include mat.datepicker-theme($solid-octo-couscous-dark-theme);
@include mat.form-field-theme($solid-octo-couscous-dark-theme);
@include mat.divider-theme($solid-octo-couscous-dark-theme);
@include mat.icon-theme($solid-octo-couscous-dark-theme);
@include mat.slide-toggle-theme($solid-octo-couscous-dark-theme);
@include mat.toolbar-theme($solid-octo-couscous-dark-theme);
@include mat.tooltip-theme($solid-octo-couscous-dark-theme);
@include mat.sidenav-theme($solid-octo-couscous-dark-theme);
@include mat.dialog-theme($solid-octo-couscous-dark-theme);
@include mat.progress-bar-theme($solid-octo-couscous-dark-theme);
@include mat.snack-bar-theme($solid-octo-couscous-dark-theme);

@include mat.strong-focus-indicators-theme($solid-octo-couscous-dark-theme);
/* ------------------------------- end: material theme setup. ------------------------------------------ */
