$primary900: #1b217e;
$primary800: #283393;
$primary700: #303d9f;
$primary600: #3947ab;
$primary500: #3f4fb5;
$primary400: #5c6ac0;
$primary300: #7985cb;
$primary200: #9fa7da;
$primary100: #c5c9e9;
$primary50: #e8eaf6;

$secondary900: #1f1f1f;
$secondary800: #404040;
$secondary700: #5e5e5e;
$secondary600: #727272;
$secondary500: #9b9b9b;
$secondary400: #bababa;
$secondary300: #dedede;
$secondary200: #ececec;
$secondary100: #f4f4f4;
$secondary50: #fafafa;

$error900: #7e1a22;
$error800: #8e1f2b;
$error700: #9c2431;
$error600: #ad2b37;
$error500: #bb323a;
$error400: #bb454f;
$error300: #b6656d;
$error200: #cc8e94;
$error100: #e9c5cc;
$error50: #f5e8eb;

$primaryTextColorGivenSmallText: rgba(255, 255, 255, 0.9);
$secondaryTextColorGivenSmallText: rgba(0, 0, 0, 0.6);

/* custom created primary map of colors for SOC. */
$mat-dark-indigo-blue: (
	50: $primary50,
	100: $primary100,
	200: $primary200,
	300: $primary300,
	400: $primary400,
	500: $primary500,
	600: $primary600,
	700: $primary700,
	800: $primary800,
	900: $primary900,
	contrast: (
		50: $primaryTextColorGivenSmallText,
		100: $primaryTextColorGivenSmallText,
		200: $primaryTextColorGivenSmallText,
		300: $primaryTextColorGivenSmallText,
		400: $primaryTextColorGivenSmallText,
		500: $primaryTextColorGivenSmallText,
		600: $primaryTextColorGivenSmallText,
		700: $primaryTextColorGivenSmallText,
		800: $primaryTextColorGivenSmallText,
		900: $primaryTextColorGivenSmallText,
	),
);

/* custom created secondary map of colors for SOC. */
$mat-dark-mustard-secondary: (
	50: $secondary50,
	100: $secondary100,
	200: $secondary200,
	300: $secondary300,
	400: $secondary400,
	500: $secondary500,
	600: $secondary600,
	700: $secondary700,
	800: $secondary800,
	900: $secondary900,
	// TODO: choose a contrast color that isn't completely illegable for text reasons
	contrast:
		(
			50: $secondaryTextColorGivenSmallText,
			100: $secondaryTextColorGivenSmallText,
			200: $secondaryTextColorGivenSmallText,
			300: $secondaryTextColorGivenSmallText,
			400: $secondaryTextColorGivenSmallText,
			500: $secondaryTextColorGivenSmallText,
			600: $secondaryTextColorGivenSmallText,
			700: $secondaryTextColorGivenSmallText,
			800: $secondaryTextColorGivenSmallText,
			900: $secondaryTextColorGivenSmallText,
		),
);

$mat-dark-triadic-error: (
	50: $error50,
	100: $error100,
	200: $error200,
	300: $error300,
	400: $error400,
	500: $error500,
	600: $error600,
	700: $error700,
	800: $error800,
	900: $error900,
	contrast: (
		50: $primaryTextColorGivenSmallText,
		100: $primaryTextColorGivenSmallText,
		200: $primaryTextColorGivenSmallText,
		300: $primaryTextColorGivenSmallText,
		400: $primaryTextColorGivenSmallText,
		500: $primaryTextColorGivenSmallText,
		600: $primaryTextColorGivenSmallText,
		700: $primaryTextColorGivenSmallText,
		800: $primaryTextColorGivenSmallText,
		900: $primaryTextColorGivenSmallText,
	),
);
