$primary900: hsl(236, 65%, 30%);
$primary800: hsl(234, 57%, 37%);
$primary700: hsl(233, 54%, 41%);
$primary600: hsl(233, 50%, 45%);
$primary500: hsl(232, 48%, 48%);
$primary400: hsl(232, 44%, 56%);
$primary300: hsl(231, 44%, 64%);
$primary200: hsl(232, 44%, 74%);
$primary100: hsl(233, 45%, 84%);
$primary50: hsl(231, 44%, 94%);

$secondary900: hsl(0, 0%, 12%);
$secondary800: hsl(0, 0%, 25%);
$secondary700: hsl(0, 0%, 37%);
$secondary600: hsl(0, 0%, 45%);
$secondary500: hsl(0, 0%, 61%);
$secondary400: hsl(0, 0%, 73%);
$secondary300: hsl(0, 0%, 87%);
$secondary200: hsl(0, 0%, 93%);
$secondary100: hsl(0, 0%, 96%);
$secondary50: $secondary500;

$error900: hsl(355, 66%, 30%);
$error800: hsl(354, 64%, 34%);
$error700: hsl(354, 63%, 38%);
$error600: hsl(354, 60%, 42%);
$error500: hsl(356, 58%, 46%);
$error400: hsl(355, 46%, 50%);
$error300: hsl(354, 36%, 55%);
$error200: hsl(354, 38%, 68%);
$error100: hsl(348, 45%, 84%);
$error50: hsl(346, 39%, 94%);

$primaryTextColorGivenSmallText: hsla(0, 0%, 100%, 0.9);
$secondaryTextColorGivenSmallText: hsla(0, 0%, 0%, 0.6);

/* custom created primary map of colors for SOC. */
$mat-dark-indigo-blue: (
	50: $primary50,
	100: $primary100,
	200: $primary200,
	300: $primary300,
	400: $primary400,
	500: $primary500,
	600: $primary600,
	700: $primary700,
	800: $primary800,
	900: $primary900,
	A100: $primary100,
	A200: $primary200,
	A400: $primary400,
	A700: $primary700,
	contrast: (
		50: $primaryTextColorGivenSmallText,
		100: $primaryTextColorGivenSmallText,
		200: $primaryTextColorGivenSmallText,
		300: $primaryTextColorGivenSmallText,
		400: $primaryTextColorGivenSmallText,
		500: $primaryTextColorGivenSmallText,
		600: $primaryTextColorGivenSmallText,
		700: $primaryTextColorGivenSmallText,
		800: $primaryTextColorGivenSmallText,
		900: $primaryTextColorGivenSmallText,
		A100: $secondaryTextColorGivenSmallText,
		A200: $secondaryTextColorGivenSmallText,
		A400: $secondaryTextColorGivenSmallText,
		A700: $secondaryTextColorGivenSmallText,
	),
);
/* custom created secondary map of colors for SOC. */
$mat-dark-mustard-secondary: (
	50: $secondary50,
	100: $secondary100,
	200: $secondary200,
	300: $secondary300,
	400: $secondary400,
	500: $secondary500,
	600: $secondary600,
	700: $secondary700,
	800: $secondary800,
	900: $secondary900,
	A100: $secondary100,
	A200: $secondary200,
	A400: $secondary400,
	A700: $secondary700,
	// TODO: choose a contrast color that isn't completely illegable for text reasons
	contrast:
		(
			50: $secondaryTextColorGivenSmallText,
			100: $secondaryTextColorGivenSmallText,
			200: $secondaryTextColorGivenSmallText,
			300: $secondaryTextColorGivenSmallText,
			400: $secondaryTextColorGivenSmallText,
			500: $secondaryTextColorGivenSmallText,
			600: $secondaryTextColorGivenSmallText,
			700: $secondaryTextColorGivenSmallText,
			800: $secondaryTextColorGivenSmallText,
			900: $secondaryTextColorGivenSmallText,
			A100: $secondaryTextColorGivenSmallText,
			A200: $secondaryTextColorGivenSmallText,
			A400: $secondaryTextColorGivenSmallText,
			A700: $secondaryTextColorGivenSmallText,
		),
);

$mat-dark-triadic-error: (
	50: $error50,
	100: $error100,
	200: $error200,
	300: $error300,
	400: $error400,
	500: $error500,
	600: $error600,
	700: $error700,
	800: $error800,
	900: $error900,
	A100: $error100,
	A200: $error200,
	A400: $error400,
	A700: $error700,
	contrast: (
		50: $primaryTextColorGivenSmallText,
		100: $primaryTextColorGivenSmallText,
		200: $primaryTextColorGivenSmallText,
		300: $primaryTextColorGivenSmallText,
		400: $primaryTextColorGivenSmallText,
		500: $primaryTextColorGivenSmallText,
		600: $primaryTextColorGivenSmallText,
		700: $primaryTextColorGivenSmallText,
		800: $primaryTextColorGivenSmallText,
		900: $primaryTextColorGivenSmallText,
		A100: $secondaryTextColorGivenSmallText,
		A200: $secondaryTextColorGivenSmallText,
		A400: $secondaryTextColorGivenSmallText,
		A700: $secondaryTextColorGivenSmallText,
	),
);
