<div class="d-f f-row-reverse tooltip-position">
	<button
		mat-fab
		color="secondary"
		aria-label="Connect to a bluetooth device"
		#tooltip="matTooltip"
		matTooltip="Connect to a bluetooth device"
		matTooltipPosition="left"
		(click)="connectHeartRateDevice()"
	>
		<mat-icon aria-hidden="false" aria-label="home icon">bluetooth</mat-icon>
	</button>
</div>
<div class="d-f f-row f-align-items-center f-align-content-center">
	<mat-progress-spinner
		[color]="progressSpinnerColor"
		[mode]="spinnerMode"
		[value]="schwinIc4BluetoothConnectionService.mph$ | async"
	>
	</mat-progress-spinner>
</div>
<div class="d-f f-row f-align-items-center f-align-content-center">
	<mat-progress-spinner
		[color]="progressSpinnerColor"
		[mode]="spinnerMode"
		[value]="schwinIc4BluetoothConnectionService.kph$ | async"
	>
	</mat-progress-spinner>
</div>
