<div class="d-flex">
	<button
		mat-fab
		color="secondary"
		aria-label="Example icon button with a delete icon"
		(click)="connectHeartRateDevice($event)"
	>
		<mat-icon aria-hidden="false" aria-label="home icon">bluetooth</mat-icon>
	</button>
</div>
<h3>{{ schwinIc4BluetoothConnectionService.deltaWheelRevolution$ | async }}</h3>
<h3>{{ schwinIc4BluetoothConnectionService.deltaLastWheelEventTime$ | async }}</h3>
<h3>{{ schwinIc4BluetoothConnectionService.deltaCrankRevolution$ | async }}</h3>
<h3>{{ schwinIc4BluetoothConnectionService.deltaLastCrankEventTime$ | async }}</h3>
