<mat-card class="login-card">
	<mat-card-header>
		<mat-card-title> SOC 🧦 </mat-card-title>
		<mat-card-subtitle>Login</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<form class="d-f f-column" [formGroup]="form">
			<mat-form-field [appearance]="matFormFieldAppearance">
				<mat-label>Login Name</mat-label>
				<input matInput="input" formControlName="loginName" autocomplete="on" />
			</mat-form-field>
			<mat-form-field class="mb-0 pb-0" [appearance]="matFormFieldAppearance">
				<mat-label>Password</mat-label>
				<input type="password" matInput formControlName="password" autocomplete="on" />
			</mat-form-field>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<div class="d-f f-justify-around">
			<button mat-stroked-button color="primary" [disabled]="form?.invalid" (click)="signIn()">Sign In</button>
			<button mat-stroked-button color="primary" (click)="createAccount($event)">Create Account</button>
		</div>
	</mat-card-actions>
</mat-card>
