@use './assets/sass/angular-material';
@use './assets/sass/util/margin';
@use './assets/sass/util/flex';
@use './assets/sass/shame/material-override';

html,
body {
	height: 100%;
	width: 100%;
	margin: 0px;
}
