@use './assets/sass/util/margin';
@use './assets/sass/util/flex';

html,
body {
	margin: 0;
	background: #222;
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 400;
	height: 100%;
	width: 100%;
	margin: 0px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background: #55d6aa;
}
